if SHIELD_PAW3395

config ZMK_POINTING
    default y

config SPI
    default y

config ZMK_USB
    default y

config ZMK_BLE
    default y

config ZMK_MOUSE
    default y

config ZMK_HID_MOUSE
    default y

config ZMK_RGB_UNDERGLOW
    default y

config WS2812_STRIP
    default y

config EC11
    default y

endif