// SPDX-License-Identifier: MIT

#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp F13          // D1 - Button (can be customized)
                &mkp LCLK        // D3 - Mouse switch 1 (Left Click)
                &mkp RCLK        // D4 - Mouse switch 2 (Right Click)
            >;
            
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;  // Scrollwheel
        };
    };
};