// SPDX-License-Identifier: MIT

#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp LCLK &kp RCLK &kp MCLK
            >;
        };
    };
};