// SPDX-License-Identifier: MIT

#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/input/input-event-codes.h>
#include <dt-bindings/led/led.h>
#include "paw3395-pinctrl.dtsi"

/ {
    aliases {
        led-power = &led_power;
    };

    leds {
        compatible = "gpio-leds";
        led_power: led_power {
            gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
            label = "LED_POWER";
        };
    };

    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
        zmk,underglow = &led_strip;
        zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 7>;
        power-gpios = <&gpio0 14 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_LOW)>;
        output-ohms = <510000>;
        full-ohms = <(1000000 + 510000)>;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <1>;
        map = <RC(0,0) RC(0,1) RC(0,2)>;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&xiao_d 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // D1 - B3U-1000P Button
            , <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // D3 - Mouse switch 1
            , <&xiao_d 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // D4 - Mouse switch 2
            ;
    };
    
    encoder: encoder {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  // D2 - Scrollwheel
        b-gpios = <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  // D7 - Scrollwheel
        steps = <80>;
        status = "okay";
    };
    
    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
    };

    mouse_input_listener {
        compatible = "zmk,input-listener";
        device = <&paw3395_sensor>;
    };
};

&adc {
    status = "okay";
};

// SK6812MINI-E LEDs on D0 (P0.2) - Use SPI3
&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    
    pinctrl-0 = <&spi3_led>;
    pinctrl-names = "default";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <2>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};

// PAW3395 sensor on main SPI bus
&xiao_spi {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&xiao_spi_default>;
    pinctrl-1 = <&xiao_spi_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&xiao_d 6 GPIO_ACTIVE_LOW>;  // D6 - NCS signal to PAW3395

    paw3395_sensor: paw3395@0 {
        compatible = "pixart,paw3395";
        reg = <0>;
        spi-max-frequency = <1000000>;
        status = "okay";
        label = "PAW3395";
        // D5 (P0.05) has hardware pull-up on XIAO BLE - software pull-up matches hardware
        irq-gpios = <&xiao_d 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        cpi = <26000>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
    };
};

&xiao_serial {
    status = "disabled";
};

&xiao_i2c {
    status = "disabled";
};
